.pricing-item .heading .price-number-pc {
  font-weight: 700;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: -0.03em;
}

@media (max-width: 767px) {
  .pricing-item .heading .price-number-pc {
    font-size: 40px;
    line-height: 48px;
  }
}

.pc-eyebrow-heading-section{
  margin-bottom: 18px;
}

@media (max-width:480px) {
  .pc-btn{
    display: none;
  }
  
.pc-eyebrow-heading-section{
  margin-bottom: 10px;
}
  .pc-eyebrow-heading{
    font-size: 12px !important;
  }

  .pc-list{
    display: none !important;
  }
}

.pricing-item.style-black .heading .price-number-pc {
  color: var(--white) ;
}

/* .comparison-active{

    transform:scale(1);

    opacity:1;

    transition:

        all .45s cubic-bezier(.22,1,.36,1);

}

.comparison-inactive{

    transform:scale(.95);

    opacity:.45;

    transition:

        all .45s cubic-bezier(.22,1,.36,1);

} */

.pricing-item.style-blue {
   

     background:
      radial-gradient(circle at 15% -15%,
          rgba(96,165,250,.45),
          rgba(59,130,246,.20) 35%,
          transparent 70%),

      radial-gradient(circle at 100% 100%,
          rgba(29,78,216,.20),
          transparent 60%),

      linear-gradient(
          180deg,
          #0A1225 0%,
          #091221 45%,
          #08111D 100%
      );

  box-shadow:
      inset 0 1px rgba(255,255,255,.10),
      inset 0 -8px rgba(18,52,86,.65),
      0 20px 50px rgba(0,0,0,.45);
}

.pricing-item.style-blue .top .icon,
.pricing-item.style-blue .top .text {
  color: var(--white);
}

.pricing-itemc.style-blue .top .line {
  background-color: var(--neutral-600);
}

.pricing-item.style-blue .heading .price-number-pc {
  color: var(--white);
}

.pricing-item.style-blue .heading .price-per {
  color: var(--neutral-400);
}

.pricing-item.style-blue .content .text {
  color: var(--neutral-400);
}

.pricing-item.style-blue .content .title {
  color: var(--white);
}

.pricing-item.style-blue .content .list-text li {
  color: var(--white);
}

.pricing-item.style-blue .content .list-text li .icon {
  color: var(--white);
  background-color: var(--neutral-700);
}